
<div class="container mt-5 bg-light border-primary p-5">
    <h1> Create a Wedding Event </h1>
    <form class="event-form">
        <div class="form-group">
            <label for="event-name">Enter Your Event Details: </label>
            <input type="text" class="form-control mb-2" id="event-name" placeholder="rehersal dinner">
            <input type="text" class="form-control" id="location-name" placeholder="event center">
            <input type="text" class="form-control" id="location-address" placeholder="123 Street Orem, UT 84097">
            <input type="text" class="form-control" id="location-venue" placeholder="The colosseum">
            <input type="text" class="form-control" id="event-date" placeholder="August 23, 2022">
            <input type="text" class="form-control" id="event-time" placeholder="6pm to 9pm">
            <input type="text" class="form-control" id="dress-code" placeholder="How would you like your guests to dress?">

        </div>

       
         <button type="submit" id="create-event" class="btn btn-primary login-form">save</button>
        <a href="/dashboard/wedding/1"> next </a>
  
       
        {{!-- <button  href="/create-event"class="btn btn-primary login-form">next</button> --}}

    </form>
</div>

</div>
</div>
