
  <div class="py-10">
    <header>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight text-grey-500"> My Weddings</h1>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

        <div class="px-4 py-4 sm:px-0">
          <div class="border-4 border border-gray-200 rounded-lg p-5">

        <div class="bg-white mx-4 mt-2 shadow overflow-hidden rounded-md">
  <ul role="list" class="divide-y divide-gray-200">
{{#each weddings}}
    {{> dashboard-weddings}}
{{/each}}
    <!-- More items... -->
  </ul>
</div>
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</div>

 <div class="px-10 mx-4 flex justify-center"> 
<a href="/dashboard/create-wedding"> 
  <button type="button" class="lg:inline-flex lg:items-center px-4 py-2 mx-2 border border-transparent border-2 shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">
      <!-- Heroicon name: solid/plus -->
      <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
     Create a new wedding
    </button> </a>



<a href="/dashboard/RSVP"> 
  <button type="button" class="inline-flex items-center border border-teal-600 border-2 px-4 py-2 mx-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-teal-600 bg-white hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <!-- Heroicon name: solid/plus -->
        <svg class="-ml-1 mr-2 h-5 w-5 fill-teal-600"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V160H0V112C0 85.49 21.49 64 48 64H96V32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32zM0 192H448V464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192zM235.3 444.7L328 352C350.1 329.9 350.1 294.1 328 272C305.9 249.9 270.1 249.9 248 272L224 296L200 272C177.9 249.9 142.1 249.9 120 272C97.91 294.1 97.91 329.9 120 352L212.7 444.7C218.9 450.9 229.1 450.9 235.3 444.7H235.3z"/></svg>              <path stroke-linecap="round" stroke-linejoin="round" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
            </svg>
      {{!-- <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg> --}}
     enter a code to RSVP
    </button> </a>


</div>