{{#unless access.restricted}}
<div>
  <div class="flow-root mt-6">
    <ul role="list" class="-my-5 divide-y divide-gray-200">
      {{#if access.admin}}<h1>Your Guestlist</h1>{{/if}}
      {{#if access.normal}}<h1>{{wedding.partner1}} and {{wedding.partner2}}'s Guestlist</h1>{{/if}}
      {{#if access.normal}}
      <div class="mt-6">
        <button id="sign" class="w-full flex justify-center items-center px-4 py-2 border border-teal-500 border-2 shadow-sm text-sm font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50">Sign
          the Guestbook</button>
        <form name="addSignature" id="addSignature" class="hidden">
          <input type="text" id="signatureText" for="addSignature" class="w-full flex justify-center items-center px-4 py-2 text-center">
          <input type="button" id="submitSignature" for="addSignature" value="Submit" class="w-full flex justify-center items-center px-4 py-2 border border-teal-500 border-2 shadow-sm text-sm font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50 cursor-pointer">
        </form>
      </div>
      {{/if}}
      {{#each wedding.guests}}
        {{> wedding-guestlist}}
      {{/each}}
    </ul>
  </div>
{{#if access.admin}}
<div class="m-2 border-4 p-4 border-dashed border-teal-100 rounded-lg h-full flex justify-center w-auto"> 

<h2 class="text-xl text-teal-600"> Use this code to invite your guests: </h2>
<h2 class="text-xl text-teal-600 ml-2 font-bold">{{wedding.code}}</h2>
 </div>
{{/if}}
  <div class="mt-6">
    <a href="/wedding/{{wedding.id}}"
      id="return" class="w-full flex justify-center items-center px-4 py-2 border border-teal-500 border-2 shadow-sm text-sm font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50">Back
      to Wedding</a>
  </div>
</div>
{{#if access.admin}}<script src="/javascript/guestManager.js"></script>{{/if}}

{{/unless}}