
<div class="bg-white mt-2">
  <div class="relative bg-gray-900">
    <!-- Decorative image and overlay -->
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
      <img src="/images/guest_RSVP.jpeg" alt="" class="w-full h-full object-center object-cover">
    </div>
    <div aria-hidden="true" class="absolute inset-0 bg-gray-900 opacity-50"></div>

    <div class="relative max-w-3xl mx-auto py-32 px-6 flex flex-col items-center text-center sm:py-64 lg:px-0">
      <h1 class="text-4xl font-extrabold tracking-tight text-teal-200 lg:text-6xl">RSVP so you're in the loop.</h1>
      <p class="mt-4 text-xl text-white">Enter the special wedding code you recieved with your inviation.</p>
      <div class="mt-4">
        <div>
          <label for="code-input" class="sr-only">code</label>
          <input type="text" name="code-input" id="code-input" class="shadow-sm focus:ring-yellow-800 focus:border-yellow-900 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="enter your code">
        </div>
      <button class="rsvp mt-5 inline-block bg-teal-600 border border-transparent rounded-md py-2 px-6 text-base font-medium text-gray-900 hover:bg-gray-100">RSVP</button>

      </div>
    </div>
  </div>
</div>

<script src='/javascript/rsvp.js'></script>
{{!-- change line 18 to /wedding when working again --}}