<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">

<div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
             
            </div>
            <div class="relative flex justify-center text-sm">
  <div>
        {{!-- <?xml version="1.0" class="mx-auto pl-10"encoding="UTF-8"?><svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 449.48 93.48"><defs><style>.cls-1,.cls-2{fill:#14b7a5;}.cls-2{isolation:isolate;opacity:.4;}</style></defs><g id="Layer_1-2"><g><path class="cls-1" d="M190.71,76.41c-12.04,6.51-27.05,2.03-33.56-10s-2.03-27.07,10.01-33.58,27.07-2.03,33.58,10.01c3.91,7.22,3.97,15.9,.18,23.18-.8-.17-1.58-.4-2.32-.74-2.14-.95-3.93-2.55-5.11-4.58,3.36-8.03-.43-17.27-8.45-20.62s-17.2,.27-20.52,8.42c-3.32,8.15,.43,17.27,8.45,20.62,3.31,1.39,6.99,1.6,10.44,.61,1.89,2.75,4.4,5,7.3,6.68h0Z"/><path class="cls-2" d="M176.45,30l1.09-10.95-5.93-2.56-12.51,4.77-2.65,5.7,8.11,7.44c3.54-2.39,7.62-3.94,11.88-4.4h.01Zm39.34,3.57c-5.88-3.43-12.92-4.29-19.45-2.38,2.96,2.18,5.37,4.94,7.39,7.89,8.69,.26,15.53,7.53,15.26,16.22-.26,8.69-7.53,15.53-16.22,15.26s-15.53-7.53-15.26-16.22c.11-3.59,1.45-7.04,3.78-9.77-.29-.36-.59-.7-.91-1.03-.1-.1-.21-.22-.31-.32-.01,0-.02-.03-.04-.04-.1-.1-.2-.19-.3-.29-.22-.21-.47-.43-.71-.62-.11-.09-.22-.19-.33-.27-.02-.02-.05-.04-.07-.05-.09-.07-.19-.14-.28-.21l-.09-.06c-.1-.07-.19-.14-.29-.2l-.07-.06c-.24-.17-.49-.32-.74-.47l-.51-.29c-.09-.05-.4-.21-.4-.21-.09-.04-.18-.09-.27-.14l-.12-.06c-.13-.06-.26-.12-.4-.19-.52-.23-1.06-.44-1.6-.61-6.95,8.79-7.15,21.14-.49,30.15,1.25,1.69,2.75,3.34,4.4,4.65,.16,.13,.32,.26,.49,.38,.16,.12,.33,.25,.49,.37h0c.16,.12,.33,.24,.5,.36s.35,.24,.52,.35c.17,.11,.35,.22,.52,.33,.18,.11,.36,.22,.54,.32,11.82,6.9,26.98,2.9,33.87-8.91,6.9-11.82,2.9-26.99-8.91-33.89h.01Z"/></g></g></svg> --}}
      {{!-- <img class="mx-auto pl-8 h-24 w-auto" src="/images/rings.png" alt="Workflow"> --}}
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800">Sign Up Here!</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a href="/login" class="font-medium text-teal-600 hover:text-yellow-800">  Login </a>
      </p>
    </div>
            </div>
          </div>
        </div>

        <div class="space-y-6 lg:mx-10">
          <form  class="space-y-6 signup-form">
               <div>
              <label for="first-signup" class="block text-sm font-medium text-gray-700"> First name </label>
              <div class="mt-1">
                <input id="first-signup" name="first-signup" type="text" autocomplete="first-name" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-800 focus:border-yellow-700 sm:text-sm">
              </div>
            </div>
               <div>
              <label for="last-signup" class="block text-sm font-medium text-gray-700"> Last name</label>
              <div class="mt-1">
                <input id="last-signup" name="last-signup" type="last-signup" autocomplete="last-name" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-800 focus:border-yellow-700 sm:text-sm">
              </div>
            </div>
            <div>
              <label for="email-signup" class="block text-sm font-medium text-gray-700"> Email address </label>
              <div class="mt-1">
                <input id="email-signup" name="email-signup" type="email" autocomplete="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-800 focus:border-yellow-700 sm:text-sm">
              </div>
            </div>

            <div class="space-y-1">
              <label for="password-signup1" class="block text-sm font-medium text-gray-700"> Password </label>
              <div class="mt-1">
                <input id="password-signup1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,100}$" name="password-signup1" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-800 focus:border-yellow-700 sm:text-sm" onkeyup="checkPasswords()">
                <span class= "text-gray-500 text-sm">Passwords must be between 8-100 characters aand contain: lowercase letter, capital letter, special character and number.</span>
              </div>
            </div>
            <div class="space-y-1">
              <label for="password-signup2" class="block text-sm font-medium text-gray-700"> Confirm Password </label>
              <div class="mt-1">
                <input id="password-signup2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,100}$" name="password-signup1" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-yellow-800 focus:border-yellow-700 sm:text-sm" onkeyup="checkPasswords()">
                <span id="warning"></span>
              </div>
            </div>
            <div>
              <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover signup-form" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">
   </div>
  </div>
</div>




     <script src="/javascript/signup.js"></script>
