<div class="container mt-5 bg-light border-primary p-5"> 
<form class="signup-form">
      <div class="form-group mb-2">
    <label for="first-signup">First name</label>
    <input type="text" class="form-control" id="first-signup" aria-describedby="emailHelp" placeholder="Enter first name">
  </div>
      <div class="form-group mb-2">
    <label for="username-signup">Last name</label>
    <input type="text" class="form-control" id="last-signup" aria-describedby="emailHelp" placeholder="Enter last name">
  </div>

  <div class="form-group mb-2">
    <label for="email-login">Email address</label>
    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email">
    {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
  </div>
  <div class="form-group mb-2">
    <label for="passord-signup1">Password</label>
    <input type="password" class="form-control" id="password-signup1" placeholder="Password">
  </div>
    <div class="form-group mb-2">
    <label for="passord-sign2">Confirm Password</label>
    <input type="password" class="form-control" id="password-signup2" placeholder="Confirm password">
  </div>
  <div class="form-group form-check">
  </div>
  <button type="submit" class="btn btn-primary signup-form">Submit</button>
          <p class = "p-2">already have an account? <a href="/login"> login </a></p4>

</form>
</div>
