<div class="d-block">
<h1>{{{wedding.partner1}}} and {{wedding.partner2}}'s Wedding</h1>

<h2> Wedding Event Details</h2>
{{#each events as |event|}}
{{> wedding-event}}
{{/each}}
<p>here</p>
<a href="/wedding/1/guestbook"><button>sign the guestbook</button></a>
<a href="/wedding/1/album"><button>add to the wedding album</button></a>
<a href="/wedding/1/registry"><button>see the gift registry</button></a>



</div>